/* --------- EVENTOS --------- */
.event-card {
    background: linear-gradient(180deg, var(--card), var(--card-2));
    border-radius: var(--radius);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
}

.event-card__media {
    aspect-ratio: 24/9;
    /* Dejo relacion de aspecto 24:9 porque es aprox lo que tienen los banners del movistar arena  */
    background: #09141b;
    position: relative;
    overflow: hidden;
}

/* Fondo blurred */
.event-card__media::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--event-image);
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transform: scale(1.1);
    opacity: 0.4;
}

.event-card__media img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    z-index: 1;
}

.event-card__body {
    padding: 14px 16px 0 16px;
}

.event-card__title {
    margin: 0 0 6px 0;
    font-size: 20px;
}

.event-card__footer {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 16px 16px;
}